.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  color: rgb(0, 0, 0);
  max-width: 30%;
}

.idea-container, .form-container {
  display: flex;
  justify-content: center;
}